{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "paths": {
      "react": ["./types/react.d.ts"],
      "react/jsx-runtime": ["./types/react-jsx-runtime.d.ts"],
      "react-dom/client": ["./types/react-dom-client.d.ts"]
    }
  },
  "include": ["src", "types"]
}
